body{background-color: #60b1e0 ;
}


.link{font-size:36px;
font-family:fantasy;
color: rgb(192, 192, 192);
border: solid;
border-width: thin;
border-color: rgb(236, 236, 160);
background-color: rgb(192, 192, 192);
display: flex;
justify-content: space-around;
align-content: center;}

.home{display: flex;
flex-direction: row;
width: 450px;
justify-content: flex-start;
align-content: stretch;
border: solid;
flex-wrap: wrap;
float: left;
margin: 6px;
background-color: rgb(192, 192, 192);
padding:6px;
line-height: 22px;
box-sizing: border-box;
height: 600px;}

.Hades{display:flex;
  align-content: stretch;
   justify-content: stretch;
    box-sizing: border-box;
    width: 1250px;
    border:solid;
    margin: 30px;
    padding: 10px;
    background-color: rgb(192,192,192);

}

.Hades1{display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-content:flex-end;
    justify-content:flex-start;
    box-sizing: border-box;
    width: 650px;
    border:solid;
    margin: 30px;

}




h1 {color: rgb(7, 160, 27);
background-color: rgb(192,192,192);
font-size: 36px;}

h2 {color: rgb(4, 148, 21);
background-color: rgb(192,192,192);
font-size: 28px;

}
.cit{font-size:10px;
font-style:italic;
text-align :right;}
h3{color: brown;
    font-size: 48px;
align-content: flex-start;
justify-content: space-between;
display:flex;
flex-wrap: wrap;
flex-direction: row;
border: solid;
border-color: #3d2b03;
border-width: thin;
background-color: #a37b15;}
p{color: rgb(3, 59, 11);
font-size: 24px;
background-color: rgb(223, 221, 221);}
.cont1{color: rgb(0, 34, 5);
font-size: 24px;
background-color: rgb(226, 226, 226);
border: 2px solid;
padding: 20px;
border-radius: 8px;
}

.cont2{color: rgb(2, 46, 7);
font-size: 24px;
background-color: rgb(226, 226, 226);
border: 2px solid;
padding: 20px;
border-radius: 8px;
}

.cont3{color: rgb(2, 39, 7);
font-size: 24px;
background-color: rgb(226, 226, 226);
border: 2px solid;
padding: 20px;
border-radius: 8px;}

.Para{border: 2px solid;
padding: 20px;
color: rgb(2, 39, 7);
font-size: 24px;
background-color: rgb(226, 226, 226);
margin:20px ;}

a:link{ color:rgb(2, 31, 6);
  font-size: 24px;
}
a:visited{ color: #39ADCD;
  font-size: 28px;
 }

a:hover{ color: #39ADCD;
  font-size: 30px;
  text-decoration-style: wavy;}

a:active { color: rgb(2, 97, 15);
  font-size: 24px;
  text-decoration-style:dotted}

 